---
import NavBar from "components/visuals/NavBar.astro";
import { siteConfig } from "../siteConfig";
import { ViewTransitions } from "astro:transitions";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteConfig.title}</title>

    <!-- SEO Metatags -->
    <meta name="description" content={siteConfig.description} />
    <meta name="keywords" content={siteConfig.keywords} />
    <meta name="author" content={siteConfig.author} />

    <!-- Open Graph Tags -->
    <meta property="og:title" content={siteConfig.title} />
    <meta property="og:description" content={siteConfig.description} />

    <!-- Twitter Card Tags -->
    <meta name="twitter:title" content={siteConfig.title} />
    <meta name="twitter:description" content={siteConfig.description} />

    <ViewTransitions />
  </head>

  <body class="flex flex-col min-h-screen">
    <NavBar />
    <main
      class="bg-slate-900 w-full flex-grow flex flex-col justify-center items-center h-full p-0 m-0"
    >
      <slot />
    </main>
  </body>
</html>
